/**
 * @file
 *   CSS & media queries for responsive_menus_simple style.
 */

/* Responsive mode, engage! */
.responsive-menus.responsified {
  clear: both;
  width: 100%;
}

.responsive-menus.responsified span.toggler {
  padding: 1px;
  display: block;
  background: #213B71;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #000;
  font-size: 1.35em;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.responsive-menus.responsified.responsive-toggled span.toggler {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #bbb;
}

.responsive-menus.responsified .responsive-menus-simple {
  display: none;
  width: 100%;
  background: #333;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 2px 2px 2px #000;
}

.responsive-menus.responsified.responsive-toggled .responsive-menus-simple,
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple ul {
  display: block;
  padding: 0;
  margin: 0;
}

.responsive-menus.responsified.responsive-toggled.absolute {
  position: relative;
  z-index: 999;
}

.responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
  position: absolute;
  z-index: 999;
  top: auto;
}

.responsive-menus.responsified .responsive-menus-simple li {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  clear: both;
  list-style: none;
}

.responsive-menus.responsified .responsive-menus-simple li a {
  color: #fff;
  display: block;
  padding: 1em 5%;
  margin: 0;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #bbb;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  text-decoration: none;
  text-transform: uppercase;
}

.responsive-menus.responsified .responsive-menus-simple>li.last a {
  border-bottom: none;
}

.responsive-menus.responsified .responsive-menus-simple li ul li a {
  padding: 1em 0 1em 10%;
}

.responsive-menus.responsified .responsive-menus-simple li ul li ul li a {
  padding: 1em 0 1em 15%;
}

.responsive-menus.responsified .responsive-menus-simple li ul {
  display: block !important;
  visibility: visible !important;
  margin: 0;
  padding: 0;
}

/* Inactive rule */
.responsive-menus span.toggler {
  display: none;
}
