/* This file will hold the main styles for your POLAM NEW website. */
/*
/*
/* class is marked with a period. id with a hash sign #            */
/*******************************************************************/
.page {/*border-right:1px solid #000;*/}

html {font-size:62.5%;}
body {font-size: 14px; font-size: 1.4rem;} 

/* generally to keep images proportional to their block - for responsive design*/
img {
	max-width:100%;		
	
   /* from http://css-tricks.com/ie-fix-bicubic-scaling-for-images/*/
    -ms-interpolation-mode: bicubic; 
}
 
/*Starting at the header===================================================================== */
.logo-img {
	float:right;
}

/* as high as the logo image */
.zone-branding-wrapper {
	height: 125px;
	height:12.5rem;
}

#zone-header {
border-collapse:collapse;  
}

#region-branding {
    background:url(../../../../../images/header/header_bg_fiserv.jpg); 
	height:125px;
	height:12.5rem;
  }

#region-branding img{
	padding-top:8px;
}

/* The picture across the top */
#region-header-first {
	padding-top:22px;
}

#region-header-first .block-title {
	display:none;
}

	
/* ===================================================================================*/
/* second header for search form */

/* this to enable lost card message block in header second */
/* search results page */
#block-search-form {
	width:25%;
	/*float:right;*/
	margin-left:73%;
      /* border-right:1px solid #000;*/
}
.block-without-title h2{
	text-align:center;
	padding-left: 8%;
	/*border-right:1px solid #23427B;*/
}
.search-advanced {
	padding-left:8%;
}
.block-without-title ul{
	text-align:left;
	padding-left: 4.5%;
	padding-top: 25px;
	padding-top: 2.5rem;
}

.region-header-second {
	border-left:1px solid #23427B;
	border-right:1px solid #23427B;

/*	background:url(../../../../../images/general/1px_border_blue.jpg);
	background-repeat:repeat-y; 
	background-position: 100% 0%;*/
}

.search-results, #search-form {
/*	border-right:1px solid #23427B;	*/
	/*text-align:center;*/
/*	padding-left: 5%;
	padding-right:5%;*/
}

/*===========================      Accordion Views        =========================== */
.view-serviceview, .view-accounts-view {
	padding-left:2em;
}

.ui-accordion-header {
/*	height:28px;
	height:2.8rem;*/
}

.h .view-serviceview h3, .region-content-inner .view-accounts-view h3{
	margin-bottom:0px;
}
.block-views .block-title {
		display:none; 
}
.ui-accordion-content .views-field-body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; /*<-- IE below version 9 fix - non CSS3 compatible*/
	font-size: 1.3rem;
	text-align:left;
	color:black;
	float:right;
	width:45%;
	line-height:105%; 
}

.direct_deposit{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; /*<-- IE below version 9 fix - non CSS3 compatible*/
	font-size: 1.3rem;
	text-align:left;
	color:black;
	line-height:105%; 
	clear:both;
	width:100%;
}

.ui-accordion-content .field-content img, .ui-accordion-content .field-content .colorbox  {
	/*float:left;
	clear:both;*/
}

.AccountViewRow span, .ServiceViewRow p span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; /*<-- IE below version 9 fix - non CSS3 compatible*/
	font-size: 1.3rem;
	text-align:left;
}

/*==========Loans and accounts page image and text =================================================================== */

.node-polam-article-suite {
	padding-left:3em;
}

.node-polam-article-suite .group-header{
	display:none;
}

.node-polam-article-suite .group-left img {
	padding-top:6%;
	padding-left:3.5%;
}

.node-polam-article-suite .group-right ul {
	padding-top:5%;
}

.node-polam-article-suite .group-right li, .node-polam-article-suite .group-footer li {
	padding-bottom:1%;
}

#loans-head, #online-head, #home-head, #joanna {
	/* Used to space article away from text */
	padding-left:7%;
}


#checkright{
	padding-top: 2%;
	float:right;
	width:48%;
/*	margin-right:10%;*/
}
#checkleft{
	padding-top: 4%;
	float:left;
    width:41%;
	margin-left:8%;
	margin-right:2%;
	}
	
#check2 {
	clear:both;
	padding-left:8%;
	padding-right:8%;
	padding-top:2%;
}




/*=================================SUPERFISH MENU (Main)============================ */ 

#block-superfish-1 h2 {
	display:none;
}

/* overrides default.css in superfish lib */
.sf-menu.sf-style-default li,
.sf-menu.sf-style-default.sf-navbar {
	/*background:url(../../../../../images/header/menu_bg.gif);*/
}

.sf-menu {
	/*padding-left:40px;
	padding-left:4.0rem;*/
}

.sf-menu.sf-style-default a {
  	border-left: 0;
  	border-top: 0;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
 	padding: 0.75em 1em;
   	text-decoration: none;
	font-weight:bold;
}
/* end overriden default.css in superfish lib */

#superfish-1 {
	background:none;
}

#superfish-1 a{  
		color:white;	
	/* TM here is where the font goes and the syntax is */
		font-family:Arial, Helvetica, sans-serif;
		font-size:12.75px;	/*<-- fix for IE below vers 9 - non CSS3 compatible*/
		font-size:1.275rem;	/*<-- 12 px*/
		font-style:italic;
		font-weight:bold;
}

#superfish-1 a:link {color:#ffffff;}
#superfish-1 a:visited {color:#ffffff;}
#superfish-1 a:focus {color:#ffffff;} 
#superfish-1 a:hover {color:#D9202B; border-left:1px solid #253F78; font-size:15px; font-size:1.5rem;}
#superfish-1 a:active {color:#ffffff;}

/*
.sf-menu a:link {color:#ffffff;}
.sf-menu a:visited {color:#000;}
.sf-menu a:focus {color:#ffffff;}
.sf-menu a:hover {color:#DE0A0a;}
.sf-menu a:active {color:#fff;}
*/

#block-superfish-1 {
   clear: none;
    float: left;
    height: 48px;
	margin-top: -33.5px; /*<-- IE below version 9 fix*/
    margin-top: -3.35rem;   /*<- tweak for height Blake Senftner */
}

/* END SUPERFISH MENU (Main) */

/* START ==================== News Ticker ============================*/
.view-content-viewsticker ul li a {
	color:#133873;
	text-decoration:none;
 	}

.view-content-viewsticker ul li {
	list-style-type:none;
 	}

.view-viewsticker {
	margin-top: -20.6px; /*<-- IE below version 9 fix*/
       margin-top: -2.06rem;   /*<- tweak for height Blake Senftner */
	margin:0 auto;
	width: 97%;
	/*	margin-right:0 auto;*/
	}

/*.view-content-viewsticker {
	margin-left: 9%;
	margin-right: 5%;
		margin-left:3.75%;
} */

/* END ==================== News Ticker ============================*/


/* suppress article date and time and suthor stamp*/
.submitted {
	display:none;
	}

/*  ======================================= Content  ===============*/


.region-content-inner h1 {
	display:none;
}

#region-content h2 a {
	 color:#133873;
	 text-decoration: none;
}


.region-content-inner h3 {
	 margin-bottom:10px;
	 margin-bottom: 1.0rem;
}


/* the blue line on the left edge*/
#zone-content {
	background:url(../../../../../images/general/1px_border_blue.jpg) repeat-y 1% 0;
}
 
.region-content #page-title .node-title {
	display:none;
}

/* This serves to suppress the read more link on the articles on front page */
/* node-article-8 is the article on the very top of the content area */
#node-article-8 .node-readmore, #node-article-51 .node-readmore, #node-home-second-64 .node-title  {
		display:none;
}

#node-article-8 .node-title, #node-article-51 .node-title {
		display:none;
}


.block-block-44 h2, .block-block-49 h2 {
	display:none;
}

/* Christmas wreath */
.block-block-44 {
	border-top:#de0a0a solid 1px;
	border-bottom:#de0a0a solid 1px;

	/*margin-top: 60px;*/ /*<-- IE below version 9 fix*/
	/*margin-top: 6.0rem;*/   /*<- tweak for height Blake Senftner */
	margin-left:5%;
}

#node-article-51 {
		padding-left:5%;		
}

/* node-article-8 is the article on the very top of the content area */
/* END ---This serves to suppress the read more link on the articles on front page */


#node-article-4 .node-links {
		margin-left:5%;		
}


/* article on front page */
#node-article-4{
/*		padding-top:3%;*/
}

/* makes the h2s equal to the h3 on the sidebar*/
#node-article-4 h2{
    display:none;
}


#section-content .content {
	/*padding-left: 30px;*/
}

.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; /*<-- fix for IE versions below 9. CSS3 incompatible.*/
	font-size: 1.3rem; 
	text-align:left;
	color:black;
	line-height:125%;
}

.content h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17.6px;
	font-size: 1.76rem;
	color:#133873;
        margin-top:10px;
	margin-top: 1.0rem;
        /*margin-bottom:10px;
	margin-bottom: 1.0rem;*/
}

.content h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14.6px;
	font-size: 1.46rem;
	color:#133873;
       /* margin-top:10px;*/
	/*margin-top: 1.0rem;*/
}


.content h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-size: 2.6rem;
	color:#133873;
	text-decoration:none;
}

/* these are divs within the content area on main page*/	
.content-block-left {
	width:44%;
	padding:0 0 5% 5%;
	float:left;
}

.content-block-right {
	width:49%;
	float:right;
}

.content-block-right p {
	position:relative;
	top:25%;
	}

.content-summary {
	padding-left:5%;
}

.content-block-right h3{
	text-align:left;
}

/*.node-polam-article-suite .group-left img{
	    -moz-box-shadow: 14px 10px 5px #000000;
    -webkit-box-shadow: 14px 10px 5px #000000;
    box-shadow: 14px 10px 5px #000000;
}*/

/* APY DEFINITION BLOCK 4/26/2013*/
.apydef p {
	border: 1px solid rgba(133, 133, 133, 0.1);
	margin: 5%;
}
#block-block-47 .block-title {
	display:none;
}


/* Joanna Moran article */
#deadline {
	margin:2% 8%;
}


/* search form ============================================================================*/
#search-block-form {
	margin-bottom:2%; 
	float:right;
	}
/********* END CONTENT  ==================================================================*/


/*-------------------------- Home Page -------------------------------------------*/
#block-block-37, #home-group-left {
       float:left;
	width:44%;
	padding-top: 3%;
	padding-left:8%;
}
#home-group-right {
	float:right;
	width:39%;
	text-align:left;
	padding-top: 3%;
	padding-left:5%;
}
#home-group-right span, #home-group-right p{
     /*padding-left:10%;*/
}
 

#block-block-41 .block-title, #block-block-38 .block-title, #block-block-39 .block-title  {
	display:none;
} 

#home-group-right h3 {
	 margin-bottom:8px;
	 margin-bottom: 0.8rem;
	 text-align:left;
}

.home2 h3 {
	 /*padding-bottom:5px;
	 padding-bottom: 0.5rem;*/
	 text-align:left;
	 padding-top: 10px;
	 padding-top: 1.0rem;	 
}

/* This suppresses the message about adding content on the front page */
#first-time {
	display:none;
}

.home2{
	/*home page 2 article */
	padding-top:0%; 
	padding-left:8%;
}

.home2 p {
	/*padding: 0px 35px;*/   /* left and right padding */
	/*padding: 0rem 3.5rem;*/
	margin-bottom:10px;
	margin-bottom:1.0rem;
}

.second {
	margin-top:2%;
	margin-right:2%;
	}
.second ul{
	padding-left:7%;
	padding-top:10px;
	padding-top:1rem;
}
	
.video  {	
	/*rounded corners */
	background-color: #ccc;
	padding: 10px 18px 12px 18px;
	padding: 1.0rem 1.8rem 1.2rem 1.8rem;

	border: 1px solid #ffffff;
	border-radius: 15px;
	border-radius: 1.5rem;		
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
	-moz-box-shadow: 5px 5px 15px #000;
	-webkit-box-shadow: 5px 5px 15px #000;
	box-shadow: 5px 5px 20px #000;

	-moz-border-radius: 1.5rem;
	-webkit-border-radius:1.5rem;
	-moz-box-shadow: 0.5rem 0.5rem 1.5rem #000;
	-webkit-box-shadow: 0.5rem 0.5rem 1.5rem #000;
	box-shadow: 0.5rem 0.5rem 2.0rem #000;

	margin: 5% 7% 5% 7%;
	}
	
/* message about lost card */
.block-block-40 {
	width:100%;
	}

.block-block-40 h2 {
	display:none;
	}

.lostcard h6 {
	color:#DE0a0a;
	margin-left:12%;
	margin-top:5%;
	}	

.lostcard a {
	color:#DE0a0a;	
	}	



#node-home-second-64 .node-readmore a, #node-home-second-65 .node-readmore a, #node-page-67 .node-readmore a{
		margin-left: 44%;
}

/* ======================== end ========================*/



/*Sidebar ================================================================================*/

#whiteblock {
	color:white;
	height:650px;
	height:65rem;
}
#invisibleContact {
	color:white;
	height:500px;
	height:50rem;
}
#invisible {	
	color:white;
	height:150px;
	height:15rem;
}

.region-sidebar-first   {
       background:url(../../../../../images/general/1px_border_blue.jpg);
	background-repeat:repeat-y; 
	background-position: right;
}

.sidebarBlock  {	
	/*the greyish box around the blocks */
	background:url(../../../../../images/sidebar/teaser_background.png) no-repeat;
	text-align:left;
	line-height:110%;
	height:176px; /*important!! */
	margin-left:12%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-size:1.3rem;
}

.region-sidebar-first h3 {
	position:relative;
	top:11%;
	left:15%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18.4px;  /*<-- fix for IE below 9*/
	font-size:1.84rem;
	letter-spacing:0.25rem;
	/*line-height:85%;*/
/*	text-shadow:5px 5px 5px #666666;*/
}


#loginBlock .sidebarcontent h3{
	position:relative;
	top:11%;
	left:8%;
	letter-spacing:0;
}
#loginBlock .sidebarcontent iframe{
	
	margin-left:1%;
	margin-top:3%;
}

.region-sidebar-first h4 {
	position:relative;
	left:15%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15.4px;  /*<-- fix for IE below 9*/
	font-size:1.54rem;
	letter-spacing:0.25rem;
	margin-bottom:0;
	/*line-height:85%;*/
/*	text-shadow:5px 5px 5px #666666;*/
}
.region-sidebar-first h4:first-of-type {
	top:15%;
	margin-bottom:20px;
}

.region-sidebar-first h3 a, region-sidebar-first h4 a{
	text-decoration: none;
}
.region-sidebar-first span{
	font-size:13px;
	font-size:1.3rem;
}
.region-sidebar-first h3 a:link {color:#133873;}
.region-sidebar-first h3 a:visited {color:#133873;}
.region-sidebar-first h3 a:hover {color:#DE0A0a;}
.region-sidebar-first h3 a:active {color:#133873;}


.sidebarcontent {
	height:79.345%;
}

.sidebarcontent p {
	padding: 2% 12% 0 7%; 
	line-height: 133%;
}

#loans1 ul, #comm1 ul, #svcs1 ul {
	padding: 3% 12% 0 11%; 
	line-height: 16px;
	line-height: 1.6rem;	
	margin-top:-4px;
	font-size:12px;   
	font-size:1.2rem;
}

.region-sidebar-first-inner h2{
	display:none;
}

.ReadMoreBlueBelow {
	color:white;
	font-weight:bold;
	background:url(../../../../../images/sidebar/teaser_bar_BG_test.jpg);
	/*border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;	*/
	height:27px;
	height:2.7rem;
	margin-left:2.05%;
	margin-right:7.15%;
	margin-top:0.4%;
}

.ReadMoreBlueBelow span img{	
    position:relative;
	/*right:-7px;*/
	left:-2%;
	top:-8%;
}

.ReadMoreBlueBelow span{	
	padding-left:8.5%;
	position:relative;
	top:6px;
	text-decoration:none;
}

/*blue bars*/
/* No underlined links in sidebar b   */
.ReadMoreBlueBelow span a {
	text-decoration:none;
}
	
.ReadMoreBlueBelow  a:link {color:white;}
.ReadMoreBlueBelow a:visited {color:white;}
.ReadMoreBlueBelow a:hover {color:#DE0A0a;}
.ReadMoreBlueBelow a:active {color:white;}


/* ==============================================================================================*/
/* Rates Table Front page              ==========================================================*/
/* rates block added april 2013 */

#ratesfront1 {
	line-height: 125%;
	padding:5px 20px 0 20px;
	padding:0.5rem 2.0rem 0 2.0rem;
	border-top:8px;
	border-top:0.8rem;
	font-style:italic;
}

.front2 {
	padding:0 20px;
	padding:0 2.0rem;
	font-style:italic;
}
	
	


#ratesleft {
	background:#E8EBF2;
	float:left;
	width:77%; /* august 8th*/
	padding:1% 2% 0 2%;
	margin: 2% 0 0 7%; 
	height:63%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;   /*<-- fix for ie less than 9*/
	font-size:1.0rem;	
}
#star span{
	float:right;
	font-family: Arial, Helvetica, sans-serif;
	font-size:8px;   /*<-- fix for ie less than 9*/
	font-size:0.8rem;	
}
/* No underlined links */
#ratesleft ul.lst li a {
	text-decoration: none;
	overflow:hidden;
}
/* No bulleted items */
#ratesleft ul {
	list-style-type:none;
}
/* see Handcrafted CSS page 13 */
#ratesleft ul.lst li a span{
	float:left;
	width:65%;
	font-size:11px;   /*<-- fix for ie less than 9*/
	font-size:1.1rem;	
}
#ratesleft ul.lst li a em{
	float:right;
	color:#24467C;
	padding-right:5px;
	/*border-right:#000 solid 1px;*/ /* august 8th*/
	font-size:10px;   /*<-- fix for ie less than 9*/
	font-size:1.0rem;	
}

/* right side of the rates block ----- Inactive Now */
#ratesright {
	background:#E8EBF2;
	float:right;
	width:36%;
	padding:1% 2% 0 2%;
	margin: 2% 12% 0 0; 
	height:55%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;   /*<-- fix for ie less than 9*/
	font-size:1.0rem;	
}
#ratesright ul {
	list-style-type:none;
	overflow:hidden;
}
#ratesright ul.lst li a {
	text-decoration: none;
	}
#ratesright ul.lst li a span{
	float:left;
	width:65%;
	font-size:11px;   /*<-- fix for ie less than 9*/
	font-size:1.1rem;		
}
#ratesright ul.lst li a em{
	float:right;
	color:#24467C;
	font-size:10px;   /*<-- fix for ie less than 9*/
	font-size:1.0rem;		
}
/* li title*/
#ratesleft .lst .lit a span, #ratesright .lst .lit a span, #loanratesleft .lst .lit a span, #loanratesright .lst .lit a span {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;   /*<-- fix for ie less than 9*/
	font-size:1.3rem;	
	font-weight:bold;
	padding-bottom:1%;
}
/* ========================  Loan rates  adjustment =============================*/
/* Rates Table Front page =======================================================================*/
#loanratesleft {
	background:#E8EBF2;
	float:left;
	width:36%;
	padding:1% 2% 0 2%;
	margin: 2% 0 0 7%; 
	height:55%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;  /* <-- fix for ie less than 9*/
	font-size:1.0rem;	
}
/* No underlined links */
#loanratesleft ul.lst li a {
	text-decoration: none;
	overflow:hidden;
}
/* No bulleted items */
#loanratesleft ul {
	list-style-type:none;
}
/* see Handcrafted CSS page 13 */
#loanratesleft .lst li a span{
	float:left;
	width:65%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-size:1.1rem;
}
#loanratesleft .lst li a em{
	float:right;
	color:#24467C;
	font-size:10px;   /*<-- fix for ie less than 9*/
	font-size:1.0rem;	
	padding-right:0.3125rem;
	border-right:#000 solid 1px;
}

/* right side of the rates block */
#loanratesright {
	background:#E8EBF2;
	float:right;
	width:38%;
	padding:1% 2% 0 2%;
	margin: 2% 11% 0 0; 
	height:55%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;   /*<-- fix for ie less than 9*/
	font-size:1.0rem;	
}
#loanratesright ul {
	list-style-type:none;
	overflow:hidden;
}
#loanratesright ul.lst li a {
	text-decoration: none;
	}
#loanratesright ul.lst li a span{
	float:left;
	width:65%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;   /*<-- fix for ie less than 9*/
	font-size:1rem;	
}
#loanratesright ul.lst li a em{
	float:right;
	color:#24467C;
	font-size:10px;   /*<-- fix for ie less than 9*/
	font-size:1rem;	
}
	
/* ===================deprecated I think ========================================*/
/*.IndexTableHead {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}*/

/*.IndexTable {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	margin: 1px;
	padding: 3px;
}
*/
/*.indexTab{

	}*/

/*	
.indexTabBorder{
	border-left: 1px ;
	border-left-style: solid;
	}
*/
/*------------------------------------------------------------------------------------*/
/*-----------------------SPRIG PAGE     --------------------------------------*/

.sprigright{
	padding-top: 4%;
	float:right;
	width:52%;
/*	margin-right:10%;*/
}
.sprigleft{
	padding-top: 4%;
	float:left;
    width:43%;
	margin-left:5%;
	}
	
.sprig2 {
	clear:both;
	padding-left:5%;
	padding-right:5%;
	padding-top:2%;
}


/*------------------------------------------------------------------------------------*/
/*  oNLINE bANKING PAGE ---- 
/*-----------------------VIRTUAL BANCH and EZCARDINFO PAGE     --------------------------------------*/

.node-onlinebankingurl {
	margin-left:5%;
}
.node-onlinebankingurl .group-left a img {
	margin-top:11px;
	margin-top:1.1rem;
}
.vbright, .ezright {
	padding-top: 4%;
	float:right;
	width:55%;
	margin-right:10%;
}
.vbleft, .ezleft {
	padding-top: 4%;
	float:left;
	width:30%;
	}
.vbleft img, .ezleft img{
	margin: 0 auto;
	border:1px solid #000;
}

/*.online2*/
#block-block-57 {
	/*online and home page 2 article */
	/*padding-top:4%;*/
       padding-left: 7%;
	margin-top: 12px;
	margin-botom: 12px;
}


/* ---------------- iza block ---------------- */
.byeiza {
       padding-left: 7%;
	text-align:justify;
}

/*.online2*/
#block-block-57 {
	/*online and home page 2 article */
	/*padding-top:4%;*/
       padding-left: 7%;
	margin-top: 12px;
	margin-botom: 12px;
}

.byeiza img{
       margin-right:1%;
}


#block-block-58 h2 {font-family:Arial, Helvetica, sans-serif;
padding-left: 7%; color:#23427B; margin-bottom:1.0rem; margin-bottom:10px;}

#block-block-58 tr:hover td,
#block-block-58 tr.even:hover td.active,
#block-block-58 tr.odd:hover td.active {
  background: #ddd;
}

.byeiza_tab {
	background-color: #ddd;
	color: #111;
	padding: 10px 10px 12px 18px;
//	font-size: 14px;
//	border: 1px solid #ffffff;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
	-moz-box-shadow: 5px 5px 15px #000;
	-webkit-box-shadow: 5px 5px 15px #000;
	box-shadow: 5px 5px 20px #000;
	margin: 10px 0 20px;
 border: 0;
}

.byeiza img {
	padding-top:15px;
}
/* ------------------end iza block --------------- */


#block-block-57 h2 {display:none;}

.online2 h3 a:visited, .online2 h3 a:link, .online2 table h3{
	color:#133873;
	text-decoration:none;
}

#online3 {
/*	padding-top:2%;*/
}

 #online-head h3 a:visited, #online-head h3 a:link{
	color:#133873;
	text-decoration:none;
}
#online-head h3 a:hover, .online2 h3 a:hover {
	color:#D80406;
	text-decoration:none;
}

.online-img img{
	border:1px solid #133873;
}

.online-head a:hover img {width:268px; height:198px;}



/* this is the 2nd image on the page */
.vbleft #2nd img, .ezleft #2nd img{

}


/*------------------------------------------------------------------------------------*/
/*     Contact page 
/*------------------------------------------------------------------------------------*/

.contact-form {
	padding: 0 10%;
	background:url(../../../../../images/general/1px_border_blue.jpg);
	background-repeat:repeat-y; 
	background-position: right;

}
/*----------------------------------end contact --------------------------------------*/



/*----------------------- Membership PAGE     --------------------------------------*/

.member {
	/*rounded corners */
	background-color: #008040;
	color: #CCC;
	padding: 10px 18px 12px 18px;
	font-size: 14px;
	border: 1px solid #ffffff;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
	-moz-box-shadow: 5px 5px 15px #000;
	-webkit-box-shadow: 5px 5px 15px #000;
	box-shadow: 5px 5px 20px #000;
	margin: 5% 7% 7% 14%;
	}
	

.pacimg, .pacimg2{
	text-align:center;
	/*padding-left:3%;*/
	}	
.pacimg2 img{
	text-align:center;
	padding-left:2%;
	}	
.pac1, .pac2, .pac3,.pac4{
	padding:0 10% 2% 15%;
	}	
.pac3 {
		padding-top:2%;
	}
	
/*------------------------------------------------------------------------------------*/

/*----------------------- Shared Branching PAGE     --------------------------------------*/

.contactheader {
	margin-bottom:2%;
	margin-top:5%;
	width:100%;
	margin-left:11%;
}


.contacttop {
	margin-top:5%;
	margin-left:11%;
	width:35%;
	float:left;
}

.contactbot {
	float:right;
	width:35%;
	margin-left:7%;
	margin-top:5%;
}
	

/*------------------------------Services page-----------------------------------------------------*/

#shared{
	border-right: 1px solid #CCC;
}

.svchead {
	height:23%;
	padding:2% 12% 0 12%;
	clear:both;
}
.svcright {
	padding-top:3%;
	float:right;
	width:55%;
	margin-right:10%;
}
.svcleft {
	padding-top:5%;
	float:left;
	width:30%;
	border:1px solid #000;
}
.svcleft  img{
	padding-bottom:3%;
	padding-left:4%;
}

/*------------------------------------------------------------------------------------*/
/*----------------------------COMMUNITY -----------------------------------------------*/

.adrs {
	padding-left:12%;
	padding-top:2%;
}
#community h3{
	padding-left:20%;
	}
#community ul{
	padding-left:20%;
	}
	

#community li{
	padding-top:5%;
	}
	
	


/*------------------------------------------------------------------------------------*/



/*RSS feed icon*/
.feed-icon {
	display:none;
}


/* Footer First==================================================================== */
#region-footer-first {
	background:url(../../../../../images/footer/footer1_bg_lng.jpg);
  }
  
#region-footer-first .block-title{
	display:none;
}

#footer1 {
	height:156px;
	background:url(../../../../../images/footer/footer1_bg_lng.jpg);
	border-right:1px solid #23427B;
	border-left:1px solid #23427B;
  }

#footer1 #twit {
	width: 171px; 
	height: 55px; 
	float: right;
	margin-right:23px;
clear:right;
}
  
#footer1 #face {
	width: 171px;
	height: 55px;
	float: right;
   }

#footer1 p {
	margin-bottom:0px;
}
 
#ncua{
       clear:both;
       background:#143874;
	margin-top:13px;
	margin-top:1.3rem;
       float:left;
	margin-left:65%;
	width:32%;       /* very important - do not change because then table will extend beyond confines of footer1 */
	font-size:10px;
	font-size:1.0rem;
	color:white;
	font-style:bold;
	border:2px solid #E8E8E8;
}

#ncua tr:hover td{
      background:#143874;
}

 
/* Footer second =================================================================== */  
#copyright{
	font-family:Arial, Helvetica, sans-serif;
	/*color:white;*/
	font-size:8px;	
	font-size:0.8rem;	
	font-weight:bold;
 }

#copyright img{
	margin-right:3%;
	padding-top:5px;
    clear: none;
    float: right;
}
#region-footer-second h2{
	display:none;
}


/*------------------- below here is stuff that can be transitory     ----------------*/
#node-article-4 {
	
	/* doesn't work */
	margin-left: 1px;
	margin-left-color: #006;
	margin-style:solid;
}


#node-article-4 .node-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	color:#006;
}

#node-article-4 .node-title a:link  {text-decoration:none;}
#node-article-4 .node-title a:visited {text-decoration:none;}
#node-article-4 .node-title a:hover {text-decoration:none;}
#node-article-4 .node-title a:active {text-decoration:none;}


/*@media only screen and (min-width: 1220px) {
	#zone-header #zone-branding #zone-content #zone-footer {width:1024px;}}*/