/* HOME PAGE */



#home-group-right h3, .home2 h3{
	 margin-bottom:8px;
	 margin-bottom: 0.8rem;
	 text-align:left;
}

.home2{
	/*home page 2 article */
	padding-top:0%; /* august 8th */
	padding-left:8%;
}
.home2 p {
	padding: 0 30px;
	padding: 0 3.0rem;

}

#block-block-37, #home-group-left {
       float:left;
	width:44%;
	padding-top: 3%;
	padding-left:8%;
}
#home-group-right {
	float:right;
	width:39%;
	text-align:left;
	padding-top: 3%;
	padding-left:5%;
}
#home-group-right span, #home-group-right p{
     /*padding-left:10%;*/
}