/*
    Document   : mobile_480
    Created on : Dec 10, 2013, 4:39:08 PM
    Author     : Tony Maciejowski
    Description: Mobile styles.
*/
/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* Import our styles */
/*$site-blue: #133873;*/
/*
  Document   : _base
  Created on : Mar 27, 2014, 2:42:57 PM
  Author     : Tony Maciejowski
  Description:
  Purpose of the stylesheet follows.
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 14, ../sass/base/_base.scss */
#page {
  background: none repeat scroll 0 0 #FaFaFa;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  margin: 2% auto 2%;
  padding: 1% 2% 2% 2%;
}

/* line 20, ../sass/base/_base.scss */
html {
  font-size: 75%;
}

/* line 22, ../sass/base/_base.scss */
body {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  background-color: #afafaf;
  height: 100%;
}

/* line 23, ../sass/base/_base.scss */
body > div {
  font-size: 1.0rem;
}

/* line 27, ../sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

/* line 34, ../sass/base/_base.scss */
h1, h2, h4, h3 {
  color: #213b71;
}

/* line 37, ../sass/base/_base.scss */
#content {
  margin-bottom: 5%;
}
/* line 41, ../sass/base/_base.scss */
#content #breadcrumb li {
  padding-right: 2%;
}
/* line 42, ../sass/base/_base.scss */
#content #breadcrumb li a {
  text-decoration: none;
  color: #d9202b;
}
/* line 47, ../sass/base/_base.scss */
#content .breadcrumb {
  padding-left: 0;
}

/* generally to keep images proportional to their block - for responsive design*/
/* line 51, ../sass/base/_base.scss */
img {
  max-width: 100%;
  /* from http://css-tricks.com/ie-fix-bicubic-scaling-for-images/*/
  -ms-interpolation-mode: bicubic;
}

/*
  Document   : _content
  Created on : Apr 24, 2014, 2:01:24 PM
  Author     : Tony Maciejowski
  Description:  Content area of site
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 13, ../sass/base/_content.scss */
root {
  display: block;
}

/* line 18, ../sass/base/_content.scss */
#content #page-title {
  margin-left: 1%;
}
/* line 19, ../sass/base/_content.scss */
#content #contact-site-form {
  margin-left: 4%;
}

/* line 26, ../sass/base/_content.scss */
.panel-panel p {
  padding: 0 4% 0 4%;
  line-height: 115%;
  /*font-size:1.2rem;*/
  clear: both;
}
/* line 32, ../sass/base/_content.scss */
.panel-panel h2 {
  background: white;
  margin-top: 2px;
  /* border:1px solid $site-blue;*/
}
/* line 35, ../sass/base/_content.scss */
.panel-panel a {
  color: #d9202b;
}
/* line 36, ../sass/base/_content.scss */
.panel-panel img {
  clear: all;
  /*margin: 0 auto;*/
  margin-left: 4%;
  margin-top: -2%;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  display: block;
  outline: medium none;
  overflow: hidden;
  height: 50%;
}
/* line 49, ../sass/base/_content.scss */
.panel-panel .panel-pane {
  text-align: left;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 1.666rem;
  min-height: 1.666rem;
  padding: 1.5833rem;
}
/* line 63, ../sass/base/_content.scss */
.panel-panel .pane-title {
  text-align: center;
}

/* line 68, ../sass/base/_content.scss */
#home-panel {
  margin-top: 7%;
}

/* line 71, ../sass/base/_content.scss */
#accounts_panel img {
  margin: 0 auto;
}

/* line 74, ../sass/base/_content.scss */
#services_panel img {
  float: left;
  margin-right: 7%;
}

/* line 77, ../sass/base/_content.scss */
#services_panel, #accounts_panel {
  /* Accounts page membership appeal  green background*/
}
/* line 78, ../sass/base/_content.scss */
#services_panel ul, #accounts_panel ul {
  padding: 0 0 0 30px;
  margin: 0 0;
}
/* line 79, ../sass/base/_content.scss */
#services_panel li, #accounts_panel li {
  margin: 0 0 0 0;
  line-height: 120%;
  list-style-type: circle;
}
/* line 80, ../sass/base/_content.scss */
#services_panel p, #accounts_panel p {
  padding: 0 0;
}
/* line 83, ../sass/base/_content.scss */
#services_panel .member, #accounts_panel .member {
  /*rounded corners */
  background-color: #008040;
  color: #CCC;
  padding: 10px 18px 12px 18px;
  font-size: 14px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-shadow: 5px 5px 15px #000;
  -webkit-box-shadow: 5px 5px 15px #000;
  box-shadow: 5px 5px 20px #000;
  margin: 5% 7% 7% 5%;
}

/* line 100, ../sass/base/_content.scss */
#panel-loans .pane-5 {
  margin-bottom: 0;
}

/* line 103, ../sass/base/_content.scss */
.node-community-panel-header img {
  margin-left: 33%;
}
/* line 104, ../sass/base/_content.scss */
.node-community-panel-header div.field-item.even {
  margin-left: -15%;
  padding-right: 55%;
}

/*
  Document   : _footer
  Created on : Apr 11, 2014, 11:26:04 AM
  Author     : Tony Maciejowski
  Description: This is the css for the footer.
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
  FOOTER STYLES
*/
/* line 13, ../sass/base/_footer.scss */
#footer-wrapper {
  background: none repeat scroll 0 0 #213b71;
  font-size: 0.833rem;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.65);
  margin: 0 -3% -3% -3%;
  /* Block your cards info   */
  /*NCUA LOGO */
  /*#footer4{ span {float:right; width:70%;margin-top:-4%;}
            a {float:left;width:25%; padding:12px 12px; padding:1.2rem 1.2em;}}*/
}
/* line 19, ../sass/base/_footer.scss */
#footer-wrapper .block {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 15px 0;
  margin: 1.25rem 0;
}
/* line 26, ../sass/base/_footer.scss */
#footer-wrapper #footer1 h3 {
  color: #d9202b;
  margin-left: 4%;
  margin-top: 4px;
}
/* line 27, ../sass/base/_footer.scss */
#footer-wrapper #footer1 p {
  margin: -18px 0 15px 15px;
  margin: -1.5rem 0 1.25rem 1.25rem;
  line-height: 110%;
}
/* line 30, ../sass/base/_footer.scss */
#footer-wrapper #footer1 p a {
  color: white;
}
/* line 37, ../sass/base/_footer.scss */
#footer-wrapper #footer2 h3 {
  color: #d9202b;
  margin-left: 4%;
  margin-top: 4px;
}
/* line 38, ../sass/base/_footer.scss */
#footer-wrapper #footer2 h4 {
  color: white;
  margin-left: 4%;
  margin-top: -4%;
}
/* line 39, ../sass/base/_footer.scss */
#footer-wrapper #footer2 p {
  margin: -18px 0 15px 15px;
  margin: -1.5rem 0 1.25rem 1.25rem;
  line-height: 110%;
}
/* line 42, ../sass/base/_footer.scss */
#footer-wrapper #footer2 em {
  color: #ffffff;
}
/* line 48, ../sass/base/_footer.scss */
#footer-wrapper .region-footer-thirdcolumn #footer3 p {
  line-height: 100%;
  /*padding-left: 7%;*/
  margin: 5% 0 5% 7%;
}
/* line 53, ../sass/base/_footer.scss */
#footer-wrapper .region-footer-thirdcolumn #block-slider-popup-slider-popup-block {
  padding-left: 8%;
}
/* line 57, ../sass/base/_footer.scss */
#footer-wrapper .region-footer-fourthcolumn #footer-content-body-wrapper {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 5%;
}
/* line 62, ../sass/base/_footer.scss */
#footer-wrapper .region-footer-fourthcolumn #footer-content-body-wrapper .content-body {
  display: table-row;
  line-height: 125%;
  /*font-size:1.3rem;*/
}
/* line 69, ../sass/base/_footer.scss */
#footer-wrapper .region-footer-fourthcolumn #footer-content-body-wrapper .content-body #cooplink, #footer-wrapper .region-footer-fourthcolumn #footer-content-body-wrapper .content-body #fdic {
  display: table-cell;
  width: 20%;
  float: left;
  padding-left: 7%;
}
/* line 75, ../sass/base/_footer.scss */
#footer-wrapper .region-footer-fourthcolumn #footer-content-body-wrapper .content-body #cooptext, #footer-wrapper .region-footer-fourthcolumn #footer-content-body-wrapper .content-body #fdictext {
  display: table-cell;
  width: 70%;
  float: left;
}
/* line 80, ../sass/base/_footer.scss */
#footer-wrapper .region-footer-fourthcolumn #footer-content-body-wrapper img {
  border: 1px solid #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px 5px 15px #000;
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 5px 5px 5px #000;
}
/* line 89, ../sass/base/_footer.scss */
#footer-wrapper #footer4 {
  clear: both;
}
/* line 91, ../sass/base/_footer.scss */
#footer-wrapper #footer4 img {
  float: left;
}
/* line 92, ../sass/base/_footer.scss */
#footer-wrapper #footer4 span {
  float: right;
}
/* line 97, ../sass/base/_footer.scss */
#footer-wrapper #copyright {
  /*background-color: $copyright;*/
  color: #d9202b;
  font-size: 8px;
  font-size: 0.666rem;
  line-height: 125%;
  padding: 0 -3%;
}
/* line 103, ../sass/base/_footer.scss */
#footer-wrapper #copyright a {
  text-decoration: none;
  color: white;
}

@media all and (max-width: 480px) {
  /* line 109, ../sass/base/_footer.scss */
  .region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn, .region-footer-fourthcolumn {
    float: none;
  }
}
@media all and (min-width: 480px) {
  /* line 116, ../sass/base/_footer.scss */
  #footer-wrapper .region-footer-firstcolumn, #footer-wrapper .region-footer-secondcolumn, #footer-wrapper .region-footer-thirdcolumn, #footer-wrapper .region-footer-fourthcolumn {
    float: left;
    width: 22.5%;
    padding: 0 10px;
  }
}
/*
    Document   : _header
    Created on : Apr 16, 2014, 2:46:30 PM
    Author     : Tony Maciejowski
    Description: Header styles for Polam. 
*/
/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 13, ../sass/base/_header.scss */
#block-delta-blocks-branding {
  max-width: 48%;
  float: left;
}

/* line 17, ../sass/base/_header.scss */
#headsocial {
  float: right;
  max-width: 48%;
  color: #213b71;
  font-size: 8.04px;
  padding-top: 18px;
}
/* line 22, ../sass/base/_header.scss */
#headsocial #icon {
  list-style: none outside none;
}
/* line 24, ../sass/base/_header.scss */
#headsocial #icon li {
  display: inline;
  float: right;
  margin-left: 5px;
  list-style: none outside none;
  text-indent: -9999px;
  transition: all 0.3s ease-in-out 0s;
}
/* line 32, ../sass/base/_header.scss */
#headsocial #icon li a {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 28px;
  height: 2.333rem;
  width: 28px;
  width: 2.333rem;
}
/* line 41, ../sass/base/_header.scss */
#headsocial #icon li a:hover {
  color: #5CA20D;
  outline: 0 none;
  text-decoration: none;
  transition: color 0.1s ease-in-out 0s;
}
/* line 48, ../sass/base/_header.scss */
#headsocial #icon #age {
  float: left;
}
/* line 50, ../sass/base/_header.scss */
#headsocial #icon li:hover {
  background-position: 0px -38px;
}
/* line 53, ../sass/base/_header.scss */
#headsocial #icon .facebook {
  background: url("/images/header/social_icon/facebook.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/* line 56, ../sass/base/_header.scss */
#headsocial #icon .twitter {
  background: url("/images/header/social_icon/twitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/* line 60, ../sass/base/_header.scss */
#headsocial #headcontact {
  float: right;
  margin-top: 15px;
  margin-top: 1.25em;
  text-decoration: none;
}
/* line 65, ../sass/base/_header.scss */
#headsocial #headcontact em {
  margin-right: 4px;
  margin-right: 0.4em;
}
/* line 66, ../sass/base/_header.scss */
#headsocial #headcontact li:first-child {
  border: medium none;
  margin-left: 0;
  padding: 0;
}
/* line 71, ../sass/base/_header.scss */
#headsocial #headcontact li {
  border-left: 1px solid #E9E9E9;
  display: inline;
  margin-left: 10px;
  margin-left: 0.833em;
  padding-left: 10px;
  padding-left: 0.833em;
}
/* line 79, ../sass/base/_header.scss */
#headsocial #headcontact ul {
  list-style: none outside none;
}
/* line 81, ../sass/base/_header.scss */
#headsocial #headcontact ul a {
  text-decoration: none;
  color: #d9202b;
}
/* line 82, ../sass/base/_header.scss */
#headsocial #headcontact ul .mini-ico-envelope {
  background-position: -72px 0;
}
/* line 85, ../sass/base/_header.scss */
#headsocial #headcontact ul .mini-ico-user {
  background-position: -168px 0;
}
/* line 88, ../sass/base/_header.scss */
#headsocial #headcontact ul [class^="mini-ico-"], #headsocial #headcontact ul [class*=" mini-ico-"] {
  background-image: url("/images/header/social_icon/glyphicons-mini.png");
  /*background-position: 14px 14px;*/
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  height: 1.166rem;
  line-height: 1.166rem;
  line-height: 14px;
  opacity: 1;
  vertical-align: text-top;
  width: 14px;
  width: 1.166rem;
}

/* line 105, ../sass/base/_header.scss */
#header {
  background-color: #fafafa;
  height: 145px;
  /*height:10.416rem;*/
  margin: 0 0;
}
/* line 110, ../sass/base/_header.scss */
#header .logo-img {
  margin-bottom: -20px;
}

/* line 113, ../sass/base/_header.scss */
#header2 .block {
  margin-bottom: 0;
}

/* ===================================== OLD STUFF ======================================*/
/* line 120, ../sass/base/_header.scss */
.site-name {
  display: none;
}

/* line 122, ../sass/base/_header.scss */
.block-title, block_title {
  display: none;
}

/* @import "_init";*/
/*
  Document   : _mainmenu
  Created on : Apr 3, 2014, 10:10:08 AM
  Author     : Tony Maciejowski
  Description:
  Main menu styling. Created by Tony.
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*=================================SUPERFISH MENU (Main)============================ */
/* Import our styles */
/* line 16, ../sass/base/_mainmenu.scss */
#navigation {
  background-color: #213b71;
  margin-top: -7px;
}

/* line 22, ../sass/base/_mainmenu.scss */
#block-superfish-1 h2 {
  display: none;
}
/* line 26, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 li:first-child {
  margin-left: 5.25%;
}
/* line 27, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 a {
  /*font-size:12px;*/
  /*<-- fix for IE below vers 9 - non CSS3 compatible*/
  /*font-size:1.2rem;*/
  /*<-- 12 px*/
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding: 16px 15px 10px 10px;
  padding: 1.33rem 1.25rem 0.83333rem 0.83333rem;
  text-decoration: none;
}
/* line 39, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 li {
  /*a:focus {color:#fff;}*/
  /*a:hover {color:#D9202B; background$site-red;/*border-left:1px solid #253F78; font-size:15px; font-size:1.5em;}*/
  /*        a:hover {background:$site-red; color:#ffffff; }
          a:active {color:#fff;}*/
  /* from Chillco.com  Cherry Hill Company*/
}
/* line 40, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 li a:link {
  color: #ffffff;
  background: #213b71;
}
/* line 41, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 li a:visited {
  color: #ccc;
}
/* line 47, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 li a:focus, #block-superfish-1 #superfish-1 li a:hover, #block-superfish-1 #superfish-1 li a.active-trail {
  color: white;
  border-bottom: 8px solid #d9202b;
}

/* line 55, ../sass/base/_mainmenu.scss */
#search-block-form {
  float: right;
  padding-top: 1rem;
}

/*
    Document   : mobile_728
    Created on : Dec 10, 2013, 4:39:08 PM
    Author     : Tony Maciejowski
    Description: Mobile styles.
*/
/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* Import our styles */
@media all and (max-width: 728px) {
  /* Hide the H2 on the Mean menu - responsive menu module  */
  /* line 17, ../sass/base/_mobile_728.scss */
  .mean-nav h2 {
    display: none;
  }

  /* line 19, ../sass/base/_mobile_728.scss */
  #page {
    padding: 0;
    margin: 2%;
  }

  /* line 24, ../sass/base/_mobile_728.scss */
  #header {
    padding: 0;
    /* the block containing the logo*/
  }
  /* line 27, ../sass/base/_mobile_728.scss */
  #header #logo img {
    border: 1px solid #fdfdfd;
    width: 97%;
  }
  /* line 33, ../sass/base/_mobile_728.scss */
  #header #block-delta-blocks-branding {
    max-width: 97%;
  }

  /* line 38, ../sass/base/_mobile_728.scss */
  #header2 #block-views-header-slider-block {
    display: none;
  }

  /* line 41, ../sass/base/_mobile_728.scss */
  #headsocial {
    display: none;
    /* clear: both;
     float: left;
     width: 97%;
     max-width: 100%;
     #headcontact {
             ul {padding:0;
                 margin-bottom: 2em;
                 margin-top: -15%;
                }
     }*/
  }

  /* This is the responsive menu */
  /* line 57, ../sass/base/_mobile_728.scss */
  .responsive-menus.responsified {
    clear: both;
    width: 50%;
  }

  /* line 61, ../sass/base/_mobile_728.scss */
  .responsive-menus.responsified .responsive-menus-simple {
    display: none;
    width: 100%;
    background: #213B71;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 2px 2px 2px #000;
  }

  /* line 69, ../sass/base/_mobile_728.scss */
  .responsive-menus.responsified span.toggler {
    background: #d9202b;
    color: white;
    font-size: 10px;
    margin: 1% 0;
    /* TM*/
    font-size: 1.0rem;
    width: 30%;
  }

  /* line 81, ../sass/base/_mobile_728.scss */
  #loginBlock iFrame {
    margin: -5% 0 0 0;
  }

  /* line 85, ../sass/base/_mobile_728.scss */
  #sprigmobile {
    display: none;
  }

  /*   .sidebars {
          background: #ddd;
          .sidebarBlock{
              margin-top:11%;
            background-image: none; // cancel anni's background
          background-size: contain;
            border:1px solid $site-blue;
          
              background:#fff;
              border: 2px solid $site-blue;
                border-radius: 15px;
                  -moz-border-radius: 15px;
              -webkit-border-radius:15px;
              margin-left:0;
              height:130px; important! 
              &:hover {background-color:#FFFEEE;}
              h3{
                  margin-top: 3%;
                  padding-left: 15%;
                  color:$site-blue;
              }
              
          }
          .ReadMoreBlueBelow {
              margin: -3.2% -1px -5%;
              span {padding-left:5%;
                  img{    
                      position: relative;
                      left: -2%;
                      top: 0;
                  }
              } 
          }
      }*/
  /* line 126, ../sass/base/_mobile_728.scss */
  #home-panel .panel-pane {
    clear: both;
    width: 98%;
  }

  /* line 132, ../sass/base/_mobile_728.scss */
  .panel-2col .panel-col-first, .panel-2col .panel-col-last, .panel-2col-stacked .panel-col-first, .panel-2col-stacked .panel-col-last {
    clear: both;
    width: 98%;
  }
  /* line 135, ../sass/base/_mobile_728.scss */
  .panel-2col .panel-col-first img, .panel-2col .panel-col-last img, .panel-2col-stacked .panel-col-first img, .panel-2col-stacked .panel-col-last img {
    text-align: center;
  }

  /* line 138, ../sass/base/_mobile_728.scss */
  #services_panel {
    margin: 2% 0 0 2%;
    /*    ul { margin: 2% 0 0 2%;}*/
  }
  /* line 140, ../sass/base/_mobile_728.scss */
  #services_panel img {
    float: none;
    margin-bottom: 5%;
  }
  /* line 142, ../sass/base/_mobile_728.scss */
  #services_panel li {
    line-height: 120%;
    list-style-type: circle;
  }
  /* line 143, ../sass/base/_mobile_728.scss */
  #services_panel p {
    padding: 0 0;
  }

  /* line 149, ../sass/base/_mobile_728.scss */
  .node-community-panel-header img {
    margin-left: 1%;
  }
  /* line 150, ../sass/base/_mobile_728.scss */
  .node-community-panel-header div.field-item.even {
    max-width: 100%;
    padding: 3px;
    margin: 0;
    line-height: 120%;
  }

  /* line 159, ../sass/base/_mobile_728.scss */
  .region-footer-thirdcolumn {
    display: none;
  }
}
/* end media query */
/**
 * @file
 * Normalize.css is intended to be used as an alternative to CSS resets.
 *
 * This file is a slight fork of these original sources:
 * - normalize.css v2.1.2 | MIT License | git.io/normalize
 * - normalize.scss v2.1.2 | MIT/GPLv2 License | bit.ly/normalize-with-compass
 *
 * It's suggested that you read the normalize.scss file and customise it to meet
 * your needs, rather then including the file in your project and overriding the
 * defaults later in your CSS.
 * @see http://nicolasgallagher.com/about-normalize-css/
 *
 * Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
 *       @see http://snook.ca/archives/html_and_css/no_css_reset/
 */
/**
 * HTML5 display definitions
 */
/* Correct `block` display not defined in IE 8/9. */
/* line 33, ../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

/* Correct `inline-block` display not defined in IE 8/9. */
/* line 40, ../sass/base/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 52, ../sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Address styling not present in IE 8/9. */
/* line 58, ../sass/base/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Base
 *
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;
 *
 * Since we're using Sass, you'll need to declare your font faces here, then you
 * can add them to the font variables in the _base.scss partial.
 */
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
/* line 106, ../sass/base/_normalize.scss */
html {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  /* 1 */
  font-size: 75%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  line-height: 2em;
}

/* Remove default margin. */
/* line 126, ../sass/base/_normalize.scss */
body {
  margin: 0;
  padding: 0;
}

/**
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
/* Address `outline` inconsistency between Chrome and other browsers. */
/* line 148, ../sass/base/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
/* line 154, ../sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/**
 * Typography
 *
 * To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
 * so that the line height of our base font becomes the basic unit of vertical
 * measurement. We use multiples of that unit to set the top and bottom margins
 * for our block level elements and to set the line heights of any fonts.
 * For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
 */
/* Set 1 unit of vertical rhythm on the top and bottom margin. */
/* line 170, ../sass/base/_normalize.scss */
p,
pre {
  margin: 2em 0;
}

/* line 173, ../sass/base/_normalize.scss */
blockquote {
  /* Also indent the quote on both sides. */
  margin: 2em 30px;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 182, ../sass/base/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 190, ../sass/base/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.33333em;
  margin-top: 1.33333em;
  margin-bottom: 1.33333em;
}

/* line 195, ../sass/base/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.7094em;
  margin-top: 1.7094em;
  margin-bottom: 1.7094em;
}

/* line 200, ../sass/base/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 205, ../sass/base/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 2.40964em;
  margin-top: 2.40964em;
  margin-bottom: 2.40964em;
}

/* line 210, ../sass/base/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.98507em;
  margin-top: 2.98507em;
  margin-bottom: 2.98507em;
}

/* Address styling not present in IE 8/9, Safari 5, and Chrome. */
/* line 217, ../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
/* line 223, ../sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* Address styling not present in Safari 5 and Chrome. */
/* line 228, ../sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/* Address differences between Firefox and other browsers. */
/* line 233, ../sass/base/_normalize.scss */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 2em 0;
}

/* Address styling not present in IE 8/9. */
/* line 242, ../sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* Correct font family set oddly in Safari 5 and Chrome. */
/* line 253, ../sass/base/_normalize.scss */
code,
kbd,
pre,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 1em;
  line-height: 2em;
}

/* Improve readability of pre-formatted text in all browsers. */
/* line 262, ../sass/base/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* Set consistent quote types. */
/* line 274, ../sass/base/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* Address inconsistent and variable font size in all browsers. */
/* line 279, ../sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
/* line 285, ../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 291, ../sass/base/_normalize.scss */
sup {
  top: -0.5rem;
}

/* line 294, ../sass/base/_normalize.scss */
sub {
  bottom: -0.25rem;
}

/**
 * Lists
 */
/* line 304, ../sass/base/_normalize.scss */
dl,
menu,
ol,
ul {
  /* Address margins set differently in IE 6/7. */
  margin: 2em 0;
}

/* line 311, ../sass/base/_normalize.scss */
ol ol,
ol ul,
ul ol,
ul ul {
  /* Turn off margins on nested lists. */
  margin: 0;
}

/* line 316, ../sass/base/_normalize.scss */
dd {
  margin: 0 0 0 30px;
  /* LTR */
}

/* Address paddings set differently in IE 6/7. */
/* line 323, ../sass/base/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 30px;
  /* LTR */
}

/**
 * Embedded content and figures
 *
 * @todo Look into adding responsive embedded video.
 */
/* line 341, ../sass/base/_normalize.scss */
img {
  /* Remove border when inside `a` element in IE 8/9. */
  border: 0;
  /* Suppress the space beneath the baseline */
  /* vertical-align: bottom; */
  /* Responsive images */
  max-width: 99.95%;
  height: auto;
  /* Correct IE 8 not scaling image height when resized. */
  width: auto;
}

/* Correct overflow displayed oddly in IE 9. */
/* line 362, ../sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Address margin not present in IE 8/9 and Safari 5. */
/* line 367, ../sass/base/_normalize.scss */
figure {
  margin: 0;
}

/**
 * Forms
 */
/* Define consistent border, margin, and padding. */
/* line 383, ../sass/base/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-style: solid;
  border-top-width: 0.08333em;
  padding-top: 0.61667em;
  border-bottom-style: solid;
  border-bottom-width: 0.08333em;
  padding-bottom: 1.21667em;
  border-left-style: solid;
  border-left-width: 0.08333em;
  padding-left: 1.21667em;
  border-right-style: solid;
  border-right-width: 0.08333em;
  padding-right: 1.21667em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 398, ../sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 * 5. Keep form elements constrained in their containers.
 */
/* line 416, ../sass/base/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  max-width: 100%;
  /* 5 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 5 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 433, ../sass/base/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 444, ../sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 460, ../sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 472, ../sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 483, ../sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 497, ../sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 507, ../sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Remove inner padding and border in Firefox 4+. */
/* line 513, ../sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 522, ../sass/base/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* Drupal-style form labels. */
/* line 528, ../sass/base/_normalize.scss */
label {
  display: block;
  font-weight: bold;
}

/**
 * Tables
 */
/* line 536, ../sass/base/_normalize.scss */
table {
  /* Remove most spacing between table cells. */
  border-collapse: collapse;
  border-spacing: 0;
  /* Prevent cramped-looking tables */
  /* width: 100%; */
  /* Add vertical rhythm margins. */
  margin-top: 2em;
  margin-bottom: 2em;
}

/*
  Document   : sidebar
  Created on : Apr 14, 2014, 2:36:09 PM
  Author     : Tony Maciejowski
  Description:
  Purpose of the stylesheet follows.
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 14, ../sass/base/_sidebar.scss */
.sidebars {
  margin-top: 5%;
}

/* line 15, ../sass/base/_sidebar.scss */
.sidebarBlock {
  /*the greyish box around the blocks */
  background-image: url("/images/sidebar/teaser_background.jpg");
  background-repeat: no-repeat;
  text-align: left;
  line-height: 110%;
  height: 145px;
  /*important!! was 176 This is the height of the sidebar boxes within the grey border from anni*/
  height: 14.5rem;
}
/* line 23, ../sass/base/_sidebar.scss */
.sidebarBlock h3 a:link {
  color: #133873;
}
/* line 24, ../sass/base/_sidebar.scss */
.sidebarBlock h3 a:visited {
  color: #133873;
}
/* line 25, ../sass/base/_sidebar.scss */
.sidebarBlock h3 a:hover {
  color: #DE0A0a;
}
/* line 26, ../sass/base/_sidebar.scss */
.sidebarBlock h3 a:active {
  color: #133873;
}
/* line 27, ../sass/base/_sidebar.scss */
.sidebarBlock .sidebarcontent {
  height: 95%;
}
/* line 29, ../sass/base/_sidebar.scss */
.sidebarBlock .sidebarcontent h4, .sidebarBlock .sidebarcontent h3 {
  position: relative;
  left: 7%;
  letter-spacing: 0.15rem;
  margin-bottom: 0;
  margin-top: 0;
}
/* line 36, ../sass/base/_sidebar.scss */
.sidebarBlock .sidebarcontent h4:first-child, .sidebarBlock .sidebarcontent h3:first-child {
  padding-top: 8%;
}
/* line 39, ../sass/base/_sidebar.scss */
.sidebarBlock .sidebarcontent p {
  padding: 0 6% 3% 10%;
  margin: 0;
  line-height: 100%;
}
/* line 45, ../sass/base/_sidebar.scss */
.sidebarBlock .ReadMoreBlueBelow {
  margin: -10% 1% -5% 2%;
  color: white;
  /*font-weight:bold;*/
  background: url(../../../../../images/sidebar/teaser_bar_BG_test.jpg);
  /*border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;	*/
  height: 27px;
  height: 2.25rem;
}
/* line 55, ../sass/base/_sidebar.scss */
.sidebarBlock .ReadMoreBlueBelow span {
  padding-left: 5%;
  position: relative;
  top: 6px;
  text-decoration: none;
}
/* line 60, ../sass/base/_sidebar.scss */
.sidebarBlock .ReadMoreBlueBelow span a {
  padding-left: 6.5%;
  text-decoration: none;
}
/* line 65, ../sass/base/_sidebar.scss */
.sidebarBlock .ReadMoreBlueBelow a:link {
  color: white;
}
/* line 66, ../sass/base/_sidebar.scss */
.sidebarBlock .ReadMoreBlueBelow a:visited {
  color: white;
}
/* line 67, ../sass/base/_sidebar.scss */
.sidebarBlock .ReadMoreBlueBelow a:hover {
  color: #DE0A0a;
}
/* line 68, ../sass/base/_sidebar.scss */
.sidebarBlock .ReadMoreBlueBelow a:active {
  color: white;
}

/* line 74, ../sass/base/_sidebar.scss */
.shrhead {
  height: 23%;
  padding: 2% 12% 0 12%;
  clear: both;
}

/* line 79, ../sass/base/_sidebar.scss */
.shrright {
  padding-top: 3%;
  float: right;
  width: 55%;
  margin-right: 10%;
  margin-top: -5%;
}

/* line 86, ../sass/base/_sidebar.scss */
.shrleft {
  padding-top: 5%;
  float: left;
  width: 30%;
  border: 1px solid #000;
}
/* line 91, ../sass/base/_sidebar.scss */
.shrleft img {
  padding-bottom: 3%;
  padding-left: 4%;
}

/* this is for online banking block */
/*#loginBlock .sidebarcontent h3{
	position:relative;
	top:15%;
	left:8%;
	letter-spacing:0;
}*/
/* line 104, ../sass/base/_sidebar.scss */
#loginBlock .sidebarcontent iframe {
  margin-left: 5%;
  margin-top: 3%;
}

/* line 109, ../sass/base/_sidebar.scss */
#sprigmobile {
  display: none;
}

/* line 124, ../sass/base/_sidebar.scss */
#loans1 ul, #comm1 ul, #svcs1 ul {
  padding: 3% 12% 0 11%;
  line-height: 16px;
  line-height: 1.333rem;
  margin-top: -4px;
  font-size: 12px;
  font-size: 1.0rem;
}

/*@import "base/mainmenu";
@import "base/footer";
@import "base/sidebar";
@import "base/header";
@import "base/content";*/
/* hidden text field to save panel orientation */
/* line 2, ../sass/components/_sexyslider.scss */
.panel-orient {
  display: none;
}

/* slide out panel  */
/* line 8, ../sass/components/_sexyslider.scss */
.panel {
  position: relative;
  right: 0;
  display: none;
  background: #dfdfdf;
  color: #ffffff;
  border: 1px solid #111111;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  width: 130px;
  height: auto;
  padding: 30px 30px 30px 130px;
  filter: alpha(opacity=85);
  opacity: .85;
  z-index: 450;
  font-family: verdana, helvetica, arial, sans-serif;
}

/* line 28, ../sass/components/_sexyslider.scss */
.panel h1 {
  font-size: 14px;
  color: #222;
}

/* line 32, ../sass/components/_sexyslider.scss */
.panel h2 {
  font-size: 12px;
}

/* line 35, ../sass/components/_sexyslider.scss */
.panel h3 {
  font-size: 11px;
}

/* line 39, ../sass/components/_sexyslider.scss */
.panel p {
  margin: 0 0 15px 0;
  padding: 0;
  color: #222;
}

/*.panel a, .panel a:visited{
margin: 0;
padding: 0;
color: #9FC54E;
text-decoration: none;
border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}*/
/* line 61, ../sass/components/_sexyslider.scss */
a.trigger {
  width: 50px;
  position: relative;
  text-decoration: none;
  left: 0;
  font-size: 14px;
  letter-spacing: -1px;
  font-family: verdana, helvetica, arial, sans-serif;
  color: #fff;
  padding: 20px 40px 20px 15px;
  font-weight: 700;
  background: #dfdfdf url(/images/slider/plus.png) 85% 55% no-repeat;
  border: 1px solid #444444;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  display: block;
  z-index: 500;
}

/* line 84, ../sass/components/_sexyslider.scss */
a.trigger:hover {
  width: 70px;
  position: relative;
  text-decoration: none;
  top: 0;
  left: 0;
  font-size: 14px;
  letter-spacing: -1px;
  font-family: verdana, helvetica, arial, sans-serif;
  color: #fff;
  padding: 20px 40px 20px 20px;
  font-weight: 700;
  background: #213b71 url(/images/slider/plus.png) 85% 55% no-repeat;
  border: 1px solid #444444;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  display: block;
  z-index: 500;
}

/* line 108, ../sass/components/_sexyslider.scss */
a.active.trigger {
  background: #222222 url(/images/slider/minus.png) 85% 55% no-repeat;
}

/*  button styles  */
/* line 114, ../sass/components/_sexyslider.scss */
.panel .a-btn {
  background: #80a9da;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#80a9da, 0), color-stop(#6f97c5, 1));
  background: -webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: -moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: -o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
  padding-left: 10px;
  padding-right: 65px;
  height: 34px;
  display: inline-block;
  position: relative;
  border: 1px solid #5d81ab;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(188, 188, 188, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(188, 188, 188, 0.5);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(188, 188, 188, 0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  float: left;
  clear: both;
  margin: 10px 0px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 143, ../sass/components/_sexyslider.scss */
.panel .a-btn-text {
  padding-top: 6px;
  display: block;
  font-size: 16px;
  white-space: nowrap;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
  color: #446388;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 155, ../sass/components/_sexyslider.scss */
.panel .a-btn-slide-text {
  position: absolute;
  height: 100%;
  top: 0px;
  right: 42px;
  width: 0px;
  background: #63707e;
  text-shadow: 0px -1px 1px #363f49;
  color: #fff;
  font-size: 16px;
  white-space: nowrap;
  /*text-transform:uppercase;*/
  text-align: left;
  text-indent: 6px;
  overflow: hidden;
  line-height: 34px;
  -webkit-box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

/* line 179, ../sass/components/_sexyslider.scss */
.panel .a-btn-icon-right {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 42px;
  border-left: 1px solid #5d81ab;
  -webkit-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
}

/* line 190, ../sass/components/_sexyslider.scss */
.panel .a-btn-icon-right span {
  width: 38px;
  height: 38px;
  opacity: 0.7;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0px 0px -20px;
  background: transparent url(../images/arrow_right.png) no-repeat 50% 55%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 204, ../sass/components/_sexyslider.scss */
.panel .a-btn:hover {
  padding-right: 180px;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 210, ../sass/components/_sexyslider.scss */
.panel .a-btn:hover .a-btn-text {
  text-shadow: 0px 1px 1px #5d81ab;
  color: #fff;
}

/* line 214, ../sass/components/_sexyslider.scss */
.panel .a-btn:hover .a-btn-slide-text {
  width: 145px;
}

/* line 217, ../sass/components/_sexyslider.scss */
.panel .a-btn:hover .a-btn-icon-right span {
  opacity: 1;
}

/* line 220, ../sass/components/_sexyslider.scss */
.panel .a-btn:active {
  position: relative;
  top: 1px;
  background: #5d81ab;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #80a9da;
}

@media all and (max-width: 480px) {
  /* Hide the H2 on the Mean menu - responsive menu module  */
  /* line 18, ../sass/mobile_480.scss */
  .mean-nav h2 {
    display: none;
  }

  /* line 20, ../sass/mobile_480.scss */
  #page {
    padding: 0;
    margin: 2%;
  }

  /* line 25, ../sass/mobile_480.scss */
  #header {
    padding: 0;
    /* the block containing the logo*/
  }
  /* line 28, ../sass/mobile_480.scss */
  #header #logo img {
    border: 1px solid #fdfdfd;
    width: 97%;
  }
  /* line 34, ../sass/mobile_480.scss */
  #header #block-delta-blocks-branding {
    max-width: 97%;
  }

  /* line 39, ../sass/mobile_480.scss */
  #header2 #block-views-header-slider-block {
    display: none;
  }

  /* line 42, ../sass/mobile_480.scss */
  #headsocial {
    display: none;
    /* clear: both;
     float: left;
     width: 97%;
     max-width: 100%;
     #headcontact {
             ul {padding:0;
                 margin-bottom: 2em;
                 margin-top: -15%;
                }
     }*/
  }

  /* This is the responsive menu */
  /* line 58, ../sass/mobile_480.scss */
  .responsive-menus.responsified {
    clear: both;
    width: 50%;
  }

  /* line 62, ../sass/mobile_480.scss */
  .responsive-menus.responsified .responsive-menus-simple {
    display: none;
    width: 100%;
    background: #213B71;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 2px 2px 2px #000;
  }

  /* line 70, ../sass/mobile_480.scss */
  .responsive-menus.responsified span.toggler {
    background: #d9202b;
    color: white;
    font-size: 10px;
    margin: 1% 0;
    /* TM*/
    font-size: 1.0rem;
    width: 30%;
  }

  /* line 83, ../sass/mobile_480.scss */
  .sidebars {
    /*background: #ddd;*/
  }
  /* line 85, ../sass/mobile_480.scss */
  .sidebars .sidebarBlock {
    margin-top: 11%;
    background-image: none;
    border: 1px solid #213b71;
    margin-left: 0;
    height: 130px;
    /*important! */
  }
  /* line 91, ../sass/mobile_480.scss */
  .sidebars .sidebarBlock:hover {
    background-color: #FFFEEE;
  }
  /* line 92, ../sass/mobile_480.scss */
  .sidebars .sidebarBlock h3 {
    margin-top: 3%;
    padding-left: 15%;
    color: #213b71;
  }
  /* line 99, ../sass/mobile_480.scss */
  .sidebars #loginBlock {
    display: none;
  }
  /* line 102, ../sass/mobile_480.scss */
  .sidebars #sprigmobile {
    display: block;
  }
  /* line 105, ../sass/mobile_480.scss */
  .sidebars .ReadMoreBlueBelow {
    margin: -3.2% -1px -5%;
  }
  /* line 107, ../sass/mobile_480.scss */
  .sidebars .ReadMoreBlueBelow span {
    padding-left: 5%;
  }
  /* line 108, ../sass/mobile_480.scss */
  .sidebars .ReadMoreBlueBelow span img {
    position: relative;
    left: -2%;
    top: 0;
  }

  /* line 120, ../sass/mobile_480.scss */
  #home-panel .panel-pane {
    clear: both;
    width: 98%;
  }

  /* line 126, ../sass/mobile_480.scss */
  .panel-2col .panel-col-first, .panel-2col .panel-col-last, .panel-2col-stacked .panel-col-first, .panel-2col-stacked .panel-col-last {
    clear: both;
    width: 98%;
  }
  /* line 129, ../sass/mobile_480.scss */
  .panel-2col .panel-col-first img, .panel-2col .panel-col-last img, .panel-2col-stacked .panel-col-first img, .panel-2col-stacked .panel-col-last img {
    text-align: center;
  }

  /* line 132, ../sass/mobile_480.scss */
  #services_panel {
    margin: 2% 0 0 2%;
    /*    ul { margin: 2% 0 0 2%;}*/
  }
  /* line 134, ../sass/mobile_480.scss */
  #services_panel img {
    float: none;
    margin-bottom: 5%;
  }
  /* line 136, ../sass/mobile_480.scss */
  #services_panel li {
    line-height: 120%;
    list-style-type: circle;
  }
  /* line 137, ../sass/mobile_480.scss */
  #services_panel p {
    padding: 0 0;
  }

  /* line 143, ../sass/mobile_480.scss */
  .node-community-panel-header img {
    margin-left: 1%;
  }
  /* line 144, ../sass/mobile_480.scss */
  .node-community-panel-header div.field-item.even {
    max-width: 100%;
    padding: 3px;
    margin: 0;
    line-height: 120%;
  }
}
/* end media query */
