/*
  Document   : _base
  Created on : Mar 27, 2014, 2:42:57 PM
  Author     : Tony Maciejowski
  Description:
  Purpose of the stylesheet follows.
*/

/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

#page {
    background: none repeat scroll 0 0 #FaFaFa;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    margin: 2% auto 2%;
    padding: 1% 2% 2% 2%;
    }
html {font-size:75%;}  // 12/16px. base-font-sizw / browser default of 16.

body {font-family: $base-font-family;  background-color: $site-background; height:100%;}
body > div {
    font-size: 1.0rem;
       }

* {
  margin:0;
  padding:0; 
  text-decoration: none; 
  font-family: $helvetica;
}

h1, h2, h4, h3 {
            color:$site-blue;
        }
#content {
    margin-bottom:5%;
    //breadcrumbs
    #breadcrumb {
      li {padding-right:2%;
         a {text-decoration: none;
            color:$site-red;}
      }
    }
    // the ul has a class of breadcrumb too
    .breadcrumb {padding-left:0}
}

/* generally to keep images proportional to their block - for responsive design*/
img {
	max-width:100%;
	 /* from http://css-tricks.com/ie-fix-bicubic-scaling-for-images/*/
    -ms-interpolation-mode: bicubic; 
}