/*
  Document   : _content
  Created on : Apr 24, 2014, 2:01:24 PM
  Author     : Tony Maciejowski
  Description:  Content area of site
*/

/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

root {
  display: block;
}

#content { 
    #page-title {margin-left: 1%;}
    #contact-site-form { margin-left:4%;}
}

// all pages consist of panels except the secondary pages 
// i.e. not those on the landing pages (from menu

 .panel-panel{
    p{
      padding: 0 4% 0 4%;
      line-height:115%;
      /*font-size:1.2rem;*/
      clear:both;
    }
    h2 { background:white;
         margin-top: 2px;
        /* border:1px solid $site-blue;*/ }
    a{ color: $site-red;}    
    img{ 
           clear: all;
           /*margin: 0 auto;*/  
           margin-left: 4%;     
           margin-top: -2%;
           border: 2px solid $site-grey-bord;
           border-radius: 4px;
           box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
           display: block;
           outline: medium none;
           overflow: hidden;
           height: 50%; //width: 150px; 
            }
    .panel-pane {
        text-align: left;        
        background-color: $site-grey;
        border: 1px solid $site-grey-bord;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        margin-bottom: 20px;
        min-height: 20px;
        padding: 19px;
        margin-bottom: 1.666rem;
        min-height: 1.666rem;
        padding: 1.5833rem;
      
     }
  .pane-title {
    text-align:center;
   }  
}

#home-panel {margin-top:7%;}

#accounts_panel {
    img {margin:0 auto;}
}
#services_panel {
    img {float: left; margin-right: 7%;}
}

#services_panel, #accounts_panel {
    ul {padding:0 0 0 30px; margin: 0 0;}
    li { margin: 0 0 0 0; line-height:120%; list-style-type: circle;}
     p{
      padding: 0 0;}
      /* Accounts page membership appeal  green background*/
    .member {
	/*rounded corners */
	background-color: #008040;
	color: #CCC;
	padding: 10px 18px 12px 18px;
	font-size: 14px;
	border: 1px solid #ffffff;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
	-moz-box-shadow: 5px 5px 15px #000;
	-webkit-box-shadow: 5px 5px 15px #000;
	box-shadow: 5px 5px 20px #000;
	margin: 5% 7% 7% 5%;
	} 
}

#panel-loans .pane-5 {margin-bottom: 0;}

.node-community-panel-header {
    img { margin-left: 33%;}
    div.field-item.even{ 
        margin-left: -15%; 
        padding-right: 55%;
    }
}