/*
  Document   : _footer
  Created on : Apr 11, 2014, 11:26:04 AM
  Author     : Tony Maciejowski
  Description: This is the css for the footer.
*/

/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
  FOOTER STYLES
*/
#footer-wrapper {
        background: none repeat scroll 0 0 $site-blue;
        font-size: 0.833rem;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.65);
        margin: 0 -3% -3% -3%; 
       .block {
              border: 1px solid rgba(255, 255, 255, 0.1);
              margin: 15px 0;
              margin: 1.25rem 0;
              }
              
    #footer1 {
        h3 {color:$site-red; margin-left: 4%; margin-top:4px;}  
        p {margin: -18px 0 15px 15px;
           margin: -1.5rem 0 1.25rem 1.25rem;
           line-height:110%;
           a { color: white;   }  
           }
       }
    
       
    /* Block your cards info   */
    #footer2 {
        h3 {color:$site-red; margin-left: 4%; margin-top:4px;}  
        h4 {color:white; margin-left: 4%; margin-top:-4%;}
        p {margin: -18px 0 15px 15px;
           margin: -1.5rem 0 1.25rem 1.25rem;
           line-height:110%;}
        em {color:#ffffff;}
        span{}
    }
    
    /*NCUA LOGO */
    .region-footer-thirdcolumn {
       #footer3 p{line-height:100%;
                  /*padding-left: 7%;*/
                  margin: 5% 0 5% 7%;
                  //margin: -1.5rem 0 1.25rem 1.25rem;
                }
       #block-slider-popup-slider-popup-block { padding-left: 8%;}
      }
    // COOP and FDIC icons 
    .region-footer-fourthcolumn {
            #footer-content-body-wrapper {
                display: table;
                table-layout:fixed;
                border-collapse: collapse;
                   margin-top: 5%;
                .content-body  {
                 
                    display: table-row;
                   // height:35px;
                   line-height:125%;
                    /*font-size:1.3rem;*/
                   #cooplink, #fdic 
                                { display: table-cell; 
                                  width:20%;
                                  float:left;
                                  padding-left: 7%;
                                }
                    #cooptext, #fdictext 
                                { display: table-cell;
                                  width:70%;
                                  float:left;
                                }
                }
                img {border: 1px solid #ffffff;
                     border-radius: 5px;
                     -moz-border-radius: 5px;
                     -webkit-border-radius:5px;
                     -moz-box-shadow: 5px 5px 15px #000;
                     -webkit-box-shadow: 5px 5px 5px #000;
                     box-shadow: 5px 5px 5px #000;}
           }
    }
    #footer4 { 
              clear: both;
             img{ float:left;}
             span { float: right;}
    }
         /*#footer4{ span {float:right; width:70%;margin-top:-4%;}
                   a {float:left;width:25%; padding:12px 12px; padding:1.2rem 1.2em;}}*/
        
    #copyright {
         /*background-color: $copyright;*/
         color: $site-red;
         font-size: 8px; font-size: 0.666rem;
         line-height: 125%;
         padding: 0 -3%;
         a {text-decoration: none;
            color:white;}
    }
}
 
@media all and (max-width: 480px){
        .region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn, .region-footer-fourthcolumn   {
            float:none;
        }
}

@media all and (min-width: 480px) {
      #footer-wrapper {
          .region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn, .region-footer-fourthcolumn   {
              float:left;
              width:22.5%; 
              padding: 0 10px;
          }
      }
}