/*
    Document   : _header
    Created on : Apr 16, 2014, 2:46:30 PM
    Author     : Tony Maciejowski
    Description: Header styles for Polam. 
*/

/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

#block-delta-blocks-branding{
    max-width:48%;
    float:left;
}

/* This is to assure that the views slideshow container responds to screen size */
#views_slideshow_cycle_teaser_section_header_slider-block, .views-slideshow-cycle-main-frame-row {
  /*width: 100% !important;*/
  }

@media all and (max-width: 480px){

    /* Hide the H2 on the Mean menu - responsive menu module  */
    .mean-nav {
        /*h2 {display:none}*/
    }  
    #page {
        padding: 0;
        margin: 2%;
    }
    // header ------------------------------------------------------
    #header {
        padding: 0;
        #logo{
            img {
                border: 1px solid #fdfdfd;
                width:97%;    
            }
        }
        /* the block containing the logo*/    
        #block-delta-blocks-branding {
            max-width: 97%;
        }    
    }


    #header2 {
        #block-views-header-slider-block { display: none;}
    } 

    #headsocial {
        display:none;
        /* clear: both;
         float: left;
         width: 97%;
         max-width: 100%;
         #headcontact {
                 ul {padding:0;
                     margin-bottom: 2em;
                     margin-top: -15%;
                    }
         }*/
    }
}
@media all and (min-width: 480px) and (max-width: 959px) {


    /* the social media icons for Facebook adn twitter */
    #headsocial {
        float:right;    max-width:48%;
        color:$site-blue;
        font-size:$h6-font-size;
        padding-top:18px;  // to line up with new svg header
        #icon {
            list-style: none outside none;
            li {
                display:inline;
                float: right;
                margin-left: 5px;
                list-style: none outside none;
                text-indent: -9999px;
                transition: all 0.3s ease-in-out 0s;

                a{
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    display: block;
                    height: 28px;
                    height: 2.333rem;
                    width: 28px;
                    width: 2.333rem;
                }
                a:hover{
                    color: #5CA20D;
                    outline: 0 none;
                    text-decoration: none;
                    transition: color 0.1s ease-in-out 0s;
                }
            }
            #age {float:left;}

            li:hover {
                background-position:0px -38px;
            }
            .facebook {
                background: url("/images/header/social_icon/facebook.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            }
            .twitter {
                background: url("/images/header/social_icon/twitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            }    
        }
        #headcontact {
            float:right;     
            margin-top: 15px;
            margin-top: 1.25em;
            text-decoration: none;
            em { margin-right: 4px; margin-right: 0.4em;}
            li:first-child {
                border: medium none;
                margin-left: 0;
                padding: 0;
            }
            li {
                border-left: 1px solid #E9E9E9;
                display: inline;
                margin-left: 10px;
                margin-left: 0.833em;
                padding-left: 10px;      
                padding-left: 0.833em;
            }      
            ul {list-style: none outside none;

                a{ text-decoration: none; color: $site-red;}    
                .mini-ico-envelope {
                    background-position: -72px 0;
                }  
                .mini-ico-user {
                    background-position: -168px 0;
                }
                [class^="mini-ico-"], [class*=" mini-ico-"] {
                    background-image: url("/images/header/social_icon/glyphicons-mini.png");
                    /*background-position: 14px 14px;*/
                    background-repeat: no-repeat;
                    display: inline-block;
                    height: 14px;
                    height: 1.166rem;
                    line-height: 1.166rem;
                    line-height: 14px;
                    opacity: 1;
                    vertical-align: text-top;
                    width: 14px;
                    width: 1.166rem;
                } 
            }
        }
    }
    #header{
        
        background-color:#fafafa;
        height:145px;
        /*height:10.416rem;*/
        margin:0 0;
        .logo-img {margin-bottom: -20px;}
    }

    /* this is where the slider is contained */
    #header2 {
        #block-views-header-slider-block .view-header-slider  { display: block; max-width:99.95%}
        
    } 
    #header2 .block{
        margin-bottom:0;
    }  
}

/* ===================================== OLD STUFF ======================================*/

.site-name{ display: none;}

.block-title, block_title {
    display:none;
}

/* @import "_init";*/
