/*
  Document   : _mainmenu
  Created on : Apr 3, 2014, 10:10:08 AM
  Author     : Tony Maciejowski
  Description:
  Main menu styling. Created by Tony.
*/

/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*=================================SUPERFISH MENU (Main)============================ */ 
/* Import our styles */

#navigation{
    background-color:$site-blue;
    margin-top: -7px;
}

#block-superfish-1 {   
    h2 {
    	display:none;
    }
    #superfish-1 {
      li:first-child {margin-left: 5.25%;}
       a { 
          /*font-size:12px;*/	/*<-- fix for IE below vers 9 - non CSS3 compatible*/
          /*font-size:1.2rem;*/	/*<-- 12 px*/
          font-style:italic;
          font-weight:bold;
          text-transform: uppercase; 
          color:white;
          display: inline-block;
          padding: 16px 15px 10px 10px;
          padding: 1.33rem 1.25rem 0.83333rem 0.83333rem;  // based on 12 pix base font
          text-decoration: none;
        }
        li{
        a:link {color:#ffffff; background:$site-blue;}
        a:visited {color:#ccc;}
        /*a:focus {color:#fff;}*/ 
       /*a:hover {color:#D9202B; background$site-red;/*border-left:1px solid #253F78; font-size:15px; font-size:1.5em;}*/
/*        a:hover {background:$site-red; color:#ffffff; }
        a:active {color:#fff;}*/
        /* from Chillco.com  Cherry Hill Company*/
        a:focus, a:hover, a.active-trail {
           color:white;
           border-bottom: 8px solid $site-red;
}
        }
    }
 }
    
 #search-block-form {
   float: right;
   padding-top: 1rem;   
} 