/*
    Document   : mobile_728
    Created on : Dec 10, 2013, 4:39:08 PM
    Author     : Tony Maciejowski
    Description: Mobile styles.
*/

/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* Import our styles */

@media all and (max-width: 728px){
       
   #headsocial {
     display:none;
       /* clear: both;
        float: left;
        width: 97%;
        max-width: 100%;
        #headcontact {
                ul {padding:0;
                    margin-bottom: 2em;
                    margin-top: -15%;
                   }
        }*/
    }

  // menu ------------------------------------------------------
  /* This is the responsive menu */
    .responsive-menus.responsified {
        clear: both;
        width: 50%;
     }
     .responsive-menus.responsified .responsive-menus-simple {
        display: none;
        width: 100%;
        background: #213B71;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        box-shadow: 2px 2px 2px #000;
     }
    .responsive-menus.responsified span.toggler {
        background: $site-red;
        color:white;
        font-size: 10px;
        margin: 1% 0;
        /* TM*/        font-size: 1.0rem;
        width:30%; //the width of the red button before you open the menu
    }
 
 // sidebar ------------------------------------------------------ 
    #loginBlock
    {  
        iFrame{
            margin: -5% 0 0 0;
        }
    }
    #sprigmobile {
        display:none;
    }
    
/*   .sidebars {
        background: #ddd;
        .sidebarBlock{
            margin-top:11%;
          background-image: none; // cancel anni's background
        background-size: contain;
          border:1px solid $site-blue;
        
            background:#fff;
            border: 2px solid $site-blue;
              border-radius: 15px;
                -moz-border-radius: 15px;
            -webkit-border-radius:15px;
            margin-left:0;
            height:130px; important! 
            &:hover {background-color:#FFFEEE;}
            h3{
                margin-top: 3%;
                padding-left: 15%;
                color:$site-blue;
            }
            
        }
        .ReadMoreBlueBelow {
            margin: -3.2% -1px -5%;
            span {padding-left:5%;
                img{    
                    position: relative;
                    left: -2%;
                    top: 0;
                }
            } 
        }
    }*/
    
  // content ------------------------------------------------------  
  #home-panel {
        .panel-pane {
          clear:both;
          width:98%; 
        }
  }
    
       .panel-2col .panel-col-first, .panel-2col .panel-col-last, .panel-2col-stacked .panel-col-first, .panel-2col-stacked .panel-col-last {
          clear:both;
          width:98%; 
          img {text-align:center;}
    }
    
  #services_panel {
    margin: 2% 0 0 2%;
    img {float: none; margin-bottom: 5%; }
/*    ul { margin: 2% 0 0 2%;}*/
    li { line-height:120%; list-style-type: circle;}
     p{
      padding: 0 0;}
}   
  
// Community page
.node-community-panel-header {
    img { margin-left: 1%;}
    div.field-item.even{ 
        max-width:100%; 
        padding: 3px;
        margin:0;
        line-height: 120%;
    }
}
 // footer ------------------------------------------------------  

  .region-footer-thirdcolumn { display:none;}
} /* end media query */