/*
  Document   : sidebar
  Created on : Apr 14, 2014, 2:36:09 PM
  Author     : Tony Maciejowski
  Description:
  Purpose of the stylesheet follows.
*/

/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

.sidebars {margin-top:5%;}
.sidebarBlock  {
   /*the greyish box around the blocks */
   background-image: url("/images/sidebar/teaser_background.jpg");
   background-repeat: no-repeat;
   text-align:left;
   line-height:110%;
   height:145px; /*important!! was 176 This is the height of the sidebar boxes within the grey border from anni*/
   height:14.5rem;
   h3 a:link {color:#133873;}
   h3 a:visited {color:#133873;}
   h3 a:hover {color:#DE0A0a;}
   h3 a:active {color:#133873;}
   .sidebarcontent {
      height:95%;
      h4, h3 {
        position: relative;
        left:7%;
        letter-spacing:0.15rem;
        margin-bottom:0;
        margin-top:0;
      }
      h4:first-child, h3:first-child {
        padding-top: 8%;
      } 
      p {
        padding: 0 6% 3% 10%;
        margin:0;  
        line-height: 100%;
        }
   } 
   .ReadMoreBlueBelow {
      margin: -10% 1% -5% 2%;
      color:white;
      /*font-weight:bold;*/
      background:url(../../../../../images/sidebar/teaser_bar_BG_test.jpg);
      /*border-radius:4px;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;	*/
      height:27px;
      height:2.25rem;  // based on 12 px base-font-size
      span {
        padding-left:5%;
        position:relative;
        top:6px;
        text-decoration:none;
        a {
          padding-left:6.5%;
          text-decoration:none;
          }
      }
      a:link {color:white;}
      a:visited {color:white;}
      a:hover {color:#DE0A0a;}
      a:active {color:white;}
   }
 }

 
// this is for the shared branching page - content 
.shrhead {
   height:23%;
   padding:2% 12% 0 12%;
   clear:both;
 }
.shrright {
   padding-top:3%;
   float:right;
   width:55%;
   margin-right:10%;
   margin-top: -5%;
 }
.shrleft {
   padding-top:5%;
   float:left;
   width:30%;
   border:1px solid #000;
   img{
     padding-bottom:3%;
     padding-left:4%;
   }
}

/* this is for online banking block */ 
/*#loginBlock .sidebarcontent h3{
	position:relative;
	top:15%;
	left:8%;
	letter-spacing:0;
}*/
#loginBlock .sidebarcontent iframe{
  margin-left:5%;
  margin-top:3%;
}
#sprigmobile
{ display:none;}

//.region-sidebar-first h4:first-of-type {
//.	top:15%;
// margin-bottom:20px;
//}

//.region-sidebar-first h3 a, region-sidebar-first h4 a{
//	text-decoration: none;
//}
//.region-sidebar-first span{
//	font-size:13px;
//	font-size:1.3rem;
//}

#loans1 ul, #comm1 ul, #svcs1 ul {
  padding: 3% 12% 0 11%;
  line-height: 16px;
  line-height: 1.333rem; // based on 12 px base-font-size
  margin-top:-4px;
  font-size:12px;
  font-size:1.0rem; // based on 12 px base-font-size
}