@charset "utf-8";
/* CSS Document */

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 1044px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container-12 {
	margin-left: auto;
	margin-right: auto;
	width: 1044px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}



.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container-12 .grid-1 {
	width:67px;
}

.container-12 .grid-2 {
	width:154px;
}

.container-12 .grid-3 {
	width:241px;
}

.container-12 .grid-4 {
	width:328px;
}

.container-12 .grid-5 {
	width:415px;
}

.container-12 .grid-6 {
	width:502px;
}

.container-12 .grid-7 {
	width:589px;
}

.container-12 .grid-8 {
	width:676px;
}

.container-12 .grid-9 {
	width:763px;
}

.container-12 .grid-10 {
	width:850px;
}

.container-12 .grid-11 {
	width:937px;
}

.container-12 .grid-12 {
	width:1024px;
}




/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container-12 .prefix-1 {
	padding-left:87px;
}

.container-12 .prefix-2 {
	padding-left:174px;
}

.container-12 .prefix-3 {
	padding-left:261px;
}

.container-12 .prefix-4 {
	padding-left:348px;
}

.container-12 .prefix-5 {
	padding-left:435px;
}

.container-12 .prefix-6 {
	padding-left:522px;
}

.container-12 .prefix-7 {
	padding-left:609px;
}

.container-12 .prefix-8 {
	padding-left:696px;
}

.container-12 .prefix-9 {
	padding-left:783px;
}

.container-12 .prefix-10 {
	padding-left:870px;
}

.container-12 .prefix-11 {
	padding-left:957px;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container-12 .suffix-1 {
	padding-right:87px;
}

.container-12 .suffix-2 {
	padding-right:174px;
}

.container-12 .suffix-3 {
	padding-right:261px;
}

.container-12 .suffix-4 {
	padding-right:348px;
}

.container-12 .suffix-5 {
	padding-right:435px;
}

.container-12 .suffix-6 {
	padding-right:522px;
}

.container-12 .suffix-7 {
	padding-right:609px;
}

.container-12 .suffix-8 {
	padding-right:696px;
}

.container-12 .suffix-9 {
	padding-right:783px;
}

.container-12 .suffix-10 {
	padding-right:870px;
}

.container-12 .suffix-11 {
	padding-right:957px;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container-12 .push-1 {
	left:87px;
}

.container-12 .push-2 {
	left:174px;
}

.container-12 .push-3 {
	left:261px;
}

.container-12 .push-4 {
	left:348px;
}

.container-12 .push-5 {
	left:435px;
}

.container-12 .push-6 {
	left:522px;
}

.container-12 .push-7 {
	left:609px;
}

.container-12 .push-8 {
	left:696px;
}

.container-12 .push-9 {
	left:783px;
}

.container-12 .push-10 {
	left:870px;
}

.container-12 .push-11 {
	left:957px;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container-12 .pull-1 {
	left:-87px;
}

.container-12 .pull-2 {
	left:-174px;
}

.container-12 .pull-3 {
	left:-261px;
}

.container-12 .pull-4 {
	left:-348px;
}

.container-12 .pull-5 {
	left:-435px;
}

.container-12 .pull-6 {
	left:-522px;
}

.container-12 .pull-7 {
	left:-609px;
}

.container-12 .pull-8 {
	left:-696px;
}

.container-12 .pull-9 {
	left:-783px;
}

.container-12 .pull-10 {
	left:-870px;
}

.container-12 .pull-11 {
	left:-957px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}